<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>823700912985-pk5r082dahq2gq5pb85jl28cpql61def.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.823700912985-pk5r082dahq2gq5pb85jl28cpql61def</string>
	<key>API_KEY</key>
	<string>AIzaSyABVxB5g-Teb8QIRchHb7U5lcK5OWPFzg8</string>
	<key>GCM_SENDER_ID</key>
	<string>823700912985</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.taquesboringcompany.aylto</string>
	<key>PROJECT_ID</key>
	<string>aylto-2d071</string>
	<key>STORAGE_BUCKET</key>
	<string>aylto-2d071.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:823700912985:ios:70b16164c568c87ee56a48</string>
	<key>DATABASE_URL</key>
	<string>https://aylto-2d071.firebaseio.com</string>
</dict>
</plist>